{% extends "base.html.twig" %}

{% block content %}
{% for item in news %}
<p>
    {{ item.getId }}. {{ item.getTitle }}
    <br>
    {{ item.getPreview }}
    <br>
    <a href="/news/{{ item.getId }}">Подробнее.</a>
</p>
{% endfor %}
{% endblock %}