{% extends "base.html.twig" %}

{% block content %}

<h1>{{ news.getTitle }}</h1>
<br>

{% if news.getImage is not null %}
<img src="{{ news.getImage }}" alt="{{ news.getTitle }}">
<br>
<br>
{% endif %}

{{ news.getBody }}

<br>
<br>
<a href="/">Назад.</a>

{% endblock %}